---
permalink:  /conference/
---

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl }}?t={{site.time | date: '%s'}}" media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script type="text/javascript" src="{{ "/static/js/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/static/js/jquery.countdown.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/store.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/ouical.min.js" | prepend:site.baseurl }}"></script>

  </head>
  <body>
    <div class="top-strip"></div>
    <div class="container">
        <div class="page-header" id="conf-title">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <h1>
                    <a id="conf-title-href" nohref></a>
                    <span id="twitter-box"></span>
                  </h1>
                </div>
                <div class="meta deadline col-xs-12">
                  <span id="conf-date"></span>. <span id="conf-place"></span>.<br>
                </div>
                <div class="meta deadline col-xs-12 col-md-5">
                  Deadline in timezone from conference website:
                </div>
                <div class="meta deadline col-xs-12 col-md-6">
                  <span class="deadline-time"></span>
                </div>
                <span class="local-timezone-hide">
                  <div class="meta deadline col-xs-12 col-md-5">
                    Deadline in your local <span class="local-timezone">America/New_York</span> timezone:
                  </div>
                  <div class="meta deadline col-xs-12 col-md-6">
                    <span class="deadline-local-time"></span>
                  </div>
                </span>
                <div class="meta deadline col-xs-2 col-sm-1 col-md-5">
                  Website:
                </div>
                <div class="meta deadline col-xs-10 col-sm-11 col-md-7">
                  <a id="conf-website" target="_blank" nohref></a><br>
                </div>
            </div>
        </div>
        <div>
          <div class="row">
              <div class="col-xs-12">
                <span id="conf-timer"></span>
                <br>
              </div>
          </div>
          <br>
          <hr>
        </div>
        <footer>
          <a href="/">{{ site.domain }}</a> is maintained by <a href="//twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>.<br>
          If you find it useful, consider buying him <a target="_blank" href="https://read.gift/u/abhshkdz">a book</a> or <a title="_blank" href="https://www.buymeacoffee.com/abhshkdz">coffee</a>.
        </footer>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        var url = new URL(window.location);
        var conf = url.searchParams.get('id');
        console.log(conf);

        // Borrowed from https://github.com/moment/moment-timezone/issues/167
        // Adds support for time zones 'UTC-12'..'UTC+12'
        function addUtcTimeZones() {
          // Moment.js uses the IANA timezone database, which supports generic time zones like 'Etc/GMT+1'.
          // However, the signs for these time zones are inverted compared to ISO 8601.
          // For more details, see https://github.com/moment/moment-timezone/issues/167
          for (let offset = -12; offset <= 12; offset++) {
            const posixSign = offset <= 0 ? '+' : '-';
            const isoSign = offset >= 0 ? '+' : '-';
            const link = `Etc/GMT${posixSign}${Math.abs(offset)}|UTC${isoSign}${Math.abs(offset)}`;
            moment.tz.link(link);
          }
        }
        addUtcTimeZones();
        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch(err) {
          $('.local-timezone-hide').hide();
        }

        {% for conf in site.data.conferences %}
            if (conf == "{{ conf.id }}") {
              $('#conf-title-href').text("{{conf.title}} {{conf.year}}");
              $('#conf-title-href').attr('href', "/conference?id={{conf.id}}");
              $('#conf-date').text("{{conf.date}}");
              $('#conf-place').text("{{conf.place}}");
              $('#conf-website').text("{{conf.link}}");
              $('#conf-website').attr('href', "{{conf.link}}");
              var twitter_slug = '<a href="https://twitter.com/share" class="twitter-share-button" data-text="Countdown to the #{{ conf.title }}{{ conf.year }} deadline!" data-show-count="false" style="font-size:13px;">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8">';
              $('#twitter-box').html(twitter_slug);
              {% if conf.deadline == "TBA" %}
                $('#conf-timer').html("TBA");
                $('.deadline-time').html("TBA");
                $('.deadline-local-time').html("TBA");
              {% else %}
                // adjust date according to deadline timezone
                var timezone = {% if conf.timezone %}"{{conf.timezone}}" {% else %} "America/New_York" {% endif %};
                var confDate = moment.tz("{{conf.deadline}}", timezone);

                // render countdown timer
                $('#conf-timer').countdown(confDate.toDate(), function(event) {
                  $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
                });
                $('.deadline-time').html(confDate.toString());

                // convert deadline to local timezone
                try {
                  var localConfDate = moment.tz(confDate, local_timezone);
                  $('.deadline-local-time').html(localConfDate.toString());
                }
                catch(err) {
                  console.log("Error converting to local timezone.");
                }
              {% endif %}
            }
        {% endfor %}
    });
    // Google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.ga_id }}', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>
