---
permalink:  /conference/
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      <div class="page-header" id="conf-title">
        <div class="row">
          <div class="col-sm-12">
            <h1>
              <span id="conf-title-href"></span>
              <span id="twitter-box"></span>
            </h1>
            <h3 id="conf-full-name">
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span id="conf-subs" title="Conference subjects"></span>
          </div>
        </div>
      </div>
      <div id="page-content">
        <div id="conf-key-facts" class="row">
          <div class="col-12">
            <img src="{{site.baseurl}}/static/img/084-calendar.svg" class="badge-link" />
            <span id="conf-date"></span>.
          </div>
          <div class="col-12">
            <img src="{{site.baseurl}}/static/img/072-location.svg" class="badge-link" />
            <a id="conf-place" target="_blank" nohref></a>.
          </div>
          <div class="col-12">
            <img src="{{site.baseurl}}/static/img/203-earth.svg" class="badge-link" />
            <a id="conf-website" target="_blank" nohref></a>
          </div>
          <div id="conf-paperslink-div" class="col-12">
            <img src="{{site.baseurl}}/static/img/033-books.svg" class="badge-link" />
            Accepted Papers:
            <a id="conf-paperslink" target="_blank" nohref></a>
          </div>
          <div id="conf-pwclink-div" class="col-12">
            <div class="icon-inner pwc-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M88 128h48v256H88zM232 128h48v256h-48zM160 144h48v224h-48zM304 144h48v224h-48zM376 128h48v256h-48z"></path><path d="M104 104V56H16v400h88v-48H64V104zM408 56v48h40v304h-40v48h88V56z"></path></svg></div>
            Papers with Code:
            <a id="conf-pwclink" target="_blank" nohref></a>
          </div>
        </div>
        <div id="conf-deadline-info" class="row">
          <div class="meta deadline col-12 col-md-6">
            Download Conference deadline:
          </div>
          <div id="conference-deadline" class="calendar meta col-sm-12 col-md-6">
          </div>
          <div class="meta deadline col-12 col-md-6">
            Deadline in timezone from conference website:
          </div>
          <div class="meta col-sm-12 col-md-6">
            <span class="deadline-time"></span>
          </div>
              <div class="meta col-sm-12 col-md-6">
                Deadline in your local <span class="local-timezone">America/New_York</span> timezone:
              </div>
              <div class="local-timezone-hide meta col-sm-12 col-md-6">
                <span class="deadline-local-time"></span>
              </div>
          </div>
        <div id="conf-deadline-timer" class="row">
          <div id="conf-timer" class="col-12">
          </div>
        </div>
      </div>
        <hr>
        <footer>
          {% include footer.html %}
        </footer>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        var url = new URL(window.location);
        var conf = url.searchParams.get('id');

        {% include load_data.js %}
        {% include utils.js %}

        addUtcTimeZones();
        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch(err) {
          $('.local-timezone-hide').hide();
        }

        {% for conf in site.data.conferences %}
            if (conf == "{{ conf.id }}") {

              $('#conf-title-href').text("{{conf.title}} {{conf.year}}");
              $('#conf-title-href').attr('href', "/conference?id={{conf.id}}");
              // set badges
              var subs = '{{conf.sub}}'.split(',');
              for (let i = 0; i < subs.length; i++) {
                var sub = subs[i].replace(" ", "");
                var sub_element = document.createElement('span');
                sub_element.className = "conf-sub conf-" + sub;
                sub_element.textContent = sub2name[sub];
                $('#conf-subs').append(sub_element);
              }
              // other
              $('#conf-date').text("{{conf.date}}");
              $('#conf-place').text("{{conf.place}}");
              $('#conf-place').attr('href', "https://maps.google.com/?q={{conf.place}}")
              $('#conf-website').text("{{conf.link}}");
              $('#conf-website').attr('href', "{{conf.link}}");
              {% if conf.paperslink %}
                $('#conf-paperslink').text("{{conf.paperslink}}");
                $('#conf-paperslink').attr('href', "{{conf.paperslink}}");
              {% else %}
                $('#conf-paperslink-div').hide();
              {% endif %}
              {% if conf.pwclink %}
                $('#conf-pwclink').text("{{conf.pwclink}}");
                $('#conf-pwclink').attr('href', "{{conf.pwclink}}");
              {% else %}
                $('#conf-pwclink-div').hide();
              {% endif %}
              var twitter_slug = '<a href="https://twitter.com/share" class="twitter-share-button" data-text="Countdown to the #{{ conf.title }}{{ conf.year }} deadline!" data-show-count="false" style="font-size:13px;">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8">';
              $('#twitter-box').html(twitter_slug);
              {% if conf.full_name %}
                $('#conf-full-name').text("{{conf.full_name}}");
              {% endif %}
              {% if conf.deadline == "TBA" %}
                $('#conf-timer').html("TBA");
                $('.deadline-time').html("TBA");
                $('.deadline-local-time').html("TBA");
              {% else %}
                // adjust date according to deadline timezone
                var timezone = {% if conf.timezone %}"{{conf.timezone}}" {% else %} "America/New_York" {% endif %};
                var confDeadline = moment.tz("{{conf.deadline}}", timezone);

                // add calendar 
                var conferenceDeadlineCalendar = createCalendarFromObject({
                  id:  '{{conf.id}}',
                  title: '{{conf.title}} {{conf.year}} deadline',
                  date: confDeadline.toDate(),
                  duration: 60,
                })
                document.querySelector('#conference-deadline').appendChild(conferenceDeadlineCalendar);

                // render countdown timer
                $('#conf-timer').countdown(confDeadline.toDate(), function(event) {
                  $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
                });
                $('.deadline-time').html(confDeadline.toString());

                // convert deadline to local timezone
                try {
                  var localConfDeadline = moment.tz(confDeadline, local_timezone);
                  $('.deadline-local-time').html(localConfDeadline.toString());
                }
                catch(err) {
                  console.log("Error converting to local timezone.");
                }
              {% endif %}
            }
        {% endfor %}
    });
    {% include google_analytics.js %}
    </script>
  </body>
</html>
