<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <div style="vertical-align: middle; padding-top: 8px;">
        <div>
          <a class="navbar-brand" href="{{site.baseurl}}/" style="border-bottom: none; line-height: 0.1em;">
          AI Deadlines<br><br>
          </a>
        </div>
        <div style="color: white; font-size: x-small;">
          <a href="https://paperswithcode.com" class="pwc-link">
            by 
            <div class="icon-inner pwc-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M88 128h48v256H88zM232 128h48v256h-48zM160 144h48v224h-48zM304 144h48v224h-48zM376 128h48v256h-48z"></path><path d="M104 104V56H16v400h88v-48H64V104zM408 56v48h40v304h-40v48h88V56z"></path></svg></div>
            Papers With Code
          </a>
        </div>
      </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler"
      aria-controls="navbars-toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <ul class="navbar-nav mr-auto">
        <li>
          <a href="{{site.baseurl}}/" class="nav-link" style="border-bottom: none">Countdowns</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/calendar" class="nav-link" style="border-bottom: none;">Calendar</a>
        </li>
      </ul>
      <div class="twitter-github-icons">
        <a href="https://twitter.com/share" class="twitter-share-button"
          data-text="{{ site.description }}{% if site.twitter.hashtag %} #{{ site.twitter.hashtag }}{% endif %}"
          data-show-count="false" style="font-size: 13px;">Tweet</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        &nbsp; &nbsp;
        <iframe
          src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true"
          frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
      </div>
    </div>
  </div>
</nav>