.color-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 5px;
}

.deadline-text {
    text-decoration: underline;
    text-decoration-color: red;
}

@media only screen and (max-width: 550px) {
    #calendar-page {
        display: inline;
    }

}