body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  /* color: #333; */
}

body *::selection {
  background: #e74c3c;
  color: #fff;
}

.container {
  max-width: 980px;
}

.top-strip {
  background-color: #333;
  height: 0.25em;
  width: 100%;
}

h1,h2,h3 {
  /* font-weight: 300; */
}

h1 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.page-header {
  margin-top: 20px;
}

p.authors {
  margin-bottom: 5px;
  color: #808080;
  font-size: 20px;
}

p.authors a {
  border-color: #dedede;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

p.lead.authors a {
  border-bottom: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.thumb {
  margin: 20px 0;
  border: 1px solid #808080;
}

pre {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

footer {
  font-size: 13px;
}

.past {
  opacity: 0.5;
}

.deadline, .meta {
  font-size: 13px;
}

.timer {
  font-size: 20px;
}

.checkbox {
  font-size: 12px;
}

.calendar {
  font-size: 12px;
  margin-bottom: -5px;
}

.calendar img {
  margin-right: 5px;
}

.ind-cal {
  margin: 0 5px;
}

.calendar img {
  height: 20px;
}