body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

body *::selection {
  background: #e74c3c;
  color: #fff;
}

.container {
  max-width: 980px;
}

.top-strip {
  background-color: #333;
  height: 0.25em;
  width: 100%;
}

h1,h2,h3 {
  /* font-weight: 300; */
}

h1 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.page-header {
  margin-top: 20px;
}

#conf-title.page-header {
  border-bottom: none;
}

p.authors {
  margin-bottom: 5px;
  color: #808080;
  font-size: 20px;
}

p.authors a {
  border-color: #dedede;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

p.lead.authors a {
  border-bottom: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.thumb {
  margin: 20px 0;
  border: 1px solid #808080;
}

pre {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

footer {
  font-size: 13px;
}

.past {
  opacity: 0.5;
}

.conf-row {
  margin-bottom: 5px;
}

.conf-title {
  font-size: 20px;
  font-weight: 400;
}

.deadline, .meta {
  font-size: 13px;
}

.note {
  font-size: 13px;
  margin-bottom: 5px;
}

.timer {
  font-size: 20px;
  font-weight: 400;
}

#conf-timer {
  font-size: 72px;
  color: #444;
}

.conf-sub {
  color: rgb(36, 101, 191);
  background: rgba(236, 240, 241, 0.7);
  font-size: 13px;
  padding: 3px 5px;
  margin-right: 8px;
  cursor: pointer;
  font-weight: 300;
}

.conf-sub::selection {
  background: #0097e6;
}

.checkbox input[type="checkbox"]:checked:after {
  background-color: #0097e6;
  border-color: #0097e6;
}

.checkbox input[type="checkbox"]:after, .checkbox input[type="checkbox"]:focus:after {
  border-color: #0097e6;
}

@media only screen and (max-width: 780px) {
  #conf-timer {
    font-size: 64px;
  }
  .calendar {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  #conf-timer {
    font-size: 36px;
  }
  .conf-place {
    display: none;
  }
  .conf-date {
    display: none;
  }
  .note {
    display: none;
  }
  .conf-row {
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 375px) {
  #conf-timer {
    font-size: 28px;
  }
}

.checkbox {
  font-size: 12px;
}

.calendar {
  font-size: 12px;
  margin-top: 3px;
}

.calendar img {
  margin-right: 5px;
}

.ind-cal {
  margin: 0 5px;
}

.calendar img {
  height: 20px;
}