<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl }}" media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/static/js/jquery.countdown.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/store.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/ouical.min.js" | prepend:site.baseurl }}"></script>

  </head>
  <body>
    <div class="top-strip"></div>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <h1>
                    {{ site.title }} <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ site.description }}{% if site.twitter_hashtag %} #{{ site.twitter_hashtag }}{% endif %}" data-show-count="false" style="font-size:13px;">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                  </h1>
                </div>
                <div class="meta col-xs-12">
                  {{ site.description }}
                  To add/update a conference, <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">send in a pull request</a>.
                </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <!-- <div class="well"> -->
                  <form class="form-horizontal">
                    <div class="form-group">
                      {% for type in site.data.types %}
                      <div class="col-md-2 col-xs-5">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="{{ type.sub }}-checkbox" class=""> {{ type.name }}
                          </label>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </form>
                <!-- </div> -->
              </div>
            </div>
        </div>
        {% for conf in site.data.conferences %}
        <div id="{{conf.id}}" class="{% for sub in conf.sub %} {{sub}}-conf {% endfor %}">
          <div class="row">
              <div class="col-xs-12 col-sm-6">
                  <a href="{{conf.link}}"><b>{{conf.name}} {{conf.year}}</b></a>
                  <div class="meta">
                    {{conf.date}} // <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <span class="timer"></span>
                <div class="deadline">
                  <div>Deadline:
                    <span class="deadline-time"></span>
                  </div>
                </div>
                <div class="calendar"></div>
              </div>
          </div>
          <hr>
        </div>
        {% endfor %}
        <footer>
          Maintained by <a href="//twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>.
        </footer>
        <hr>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        {% for conf in site.data.conferences %}
        {% if conf.deadline == "TBA" %}
          $('#{{conf.id}} .timer').html("TBA");
          $('#{{conf.id}} .deadline-time').html("TBA");
        {% else %}
          // adjust date according to deadline timezone
          var timezone = {% if conf.timezone %}"{{conf.timezone}}" {% else %} "America/New_York" {% endif %};
          var confDate = moment.tz("{{conf.deadline}}", timezone);

          // render countdown timer
          $('#{{conf.id}} .timer').countdown(confDate.toDate(), function(event) {
            $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
          });
          $('#{{conf.id}} .deadline-time').html(confDate.toString());

          // add calendar button
          var myCalendar = createCalendar({
            options: {
              class: 'calendar-obj',

              // You can pass an ID. If you don't, one will be generated for you
              id: '{{conf.id}}'
            },
            data: {
              // Event title
              title: '{{conf.name}} {{conf.year}} deadline',

              // Event start date
              start: confDate.toDate(), // new Date('June 15, 2013 19:00'),

              // Event duration
              duration: 60,
            }
          });
          document.querySelector('#{{conf.id}} .calendar').appendChild(myCalendar);

          // check if date has passed, add 'past' class to it
          var today = moment();
          if (today.diff(confDate) > 0)
            $('#{{conf.id}}').addClass('past');
        {% endif %}
        {% endfor %}

        // Set checkboxes
        var conf_type_data = {{ site.data.types | jsonify }};
        var all_subs = [];
        for (var i = 0; i < conf_type_data.length; i++) {
          all_subs[i] = conf_type_data[i]['sub'];
        }

        // Get subjects from URL
        var url = new URL(window.location);
        var subs = url.searchParams.get('sub');
        if (subs == undefined) {
           subs = store.get('{{ site.domain }}');
        } else {
           subs = subs.toUpperCase().split(',');
        }
        // Get subjects from browser cache
        if (subs === undefined) {
          subs = all_subs;
          for (var i = 0; i < subs.length; i++) {
            $('#' + subs[i] + '-checkbox').prop('checked', true);
          }
        } else {
          for (var i = 0; i < subs.length; i++) {
            $('#' + subs[i] + '-checkbox').prop('checked', true);
          }
        }
        // Hide unchecked subs
        for (var i = 0; i < all_subs.length; i++) {
          if (subs.indexOf(all_subs[i]) < 0) {
            $('.' + all_subs[i] + '-conf').hide();
          }
        }
        store.set('{{ site.domain }}', subs);
        window.history.pushState('', '', '/?sub=' + subs.join());

        // Event handler on checkbox change
        $('form :checkbox').change(function(e) {
          var checked = $(this).is(':checked');
          var cid = $(this).prop('id');
          var csub = cid.substring(0, cid.length - 9);
          if (checked == true) {
            $('.' + csub + '-conf').show();
            if (subs.indexOf(csub) < 0)
              subs.push(csub);
          }
          else {
            $('.' + csub + '-conf').hide();
            var idx = subs.indexOf(csub);
            if (idx >= 0)
              subs.splice(idx, 1);
          }
          console.log(subs);
          store.set('{{ site.domain }}', subs);
          window.history.pushState('', '', '/?sub=' + subs.join());
        });
    });
    <!-- Google analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.ga_id }}', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>